<nav> 
    <a class="logo" routerLink="Inicio" routerLinkActive="active" >
      <img src="../assets/img/logo.png" width="38" height="38" alt="">
    </a>
   <ul class="nav-text poppins">
       <li class="nav-item poppins"><a routerLink="Peliculas" routerLinkActive="active">Películas</a></li>
       <li class="nav-item poppins"><a routerLink="Series" routerLinkActive="active">Series</a></li>
       <li class="nav-item poppins"><a routerLink="Ingresar" routerLinkActive="active">Ingresar &rarr;</a></li>
    </ul>
  </nav>
 