* {
    box-sizing: border-box;
}
nav {
    height: 8vh;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    outline: none;
    text-decoration: none;
    color: #A8AEBF;
    padding: 2px 1px 0;
  }



.logo {
    margin-left: 125.6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-text {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 152px;
}
.nav-item {
    margin-top: 5px;
    list-style-type: none;
    margin-right: 10px;
    width: 100px;
    color: #A8AEBF;
}

.main {
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 15px;
}

.search-bar {
    margin-top: 90px;
    height: 8%;
    width:  25%;
    margin-left: 120px;
    border:  rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;;
    display: flex;
    align-items: center;
    color: #A8AEBF;
}

