* {
    box-sizing: border-box;
}

.container-h {
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 15px;
}

.seekers {
    margin-top: 85px;
    height: 8%;
    width:  25%;
    margin-left: 120px;
    border:  rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;;
    display: flex;
    align-items: center;
    color: #A8AEBF;
}

.selector {
    height: 8%;
    width: 30%;
    margin: 80px 0 0 120px;
    padding: 0 0 0 8px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
}

.selector-link1 {
    height: 70%;
    width: 35%;
    background: #7B6EF6;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor:pointer;
}

.selector-link2, .selector-link3 {
    text-align: center;
    width: 35%;
    color: #8E95A9;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
}

.texto-centro {
    width: 25%;
    margin-top: 30px;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    color: #767E94;
}


.card-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 120px;
    gap: 24px;
}

.card {
    min-width: 12%;
    max-width: 23%;
    width: 50%;
    height: 70%;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    padding: 8px 8px 72px 8px;
    position: relative;
}

.card-img {
    width: 100%;
    aspect-ratio: 133 / 200;
}

.title {
    padding-left: 16px;
    padding-bottom: 24px;
    font-size: medium;
}

.rating {
    position: absolute;
    height: 10%;
    width: 20%;
    bottom: 88%;
    left: 20px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    border-radius: 8px; 
    color: #FFAD49;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

input {
    font-size: small;
    height: 70%;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    color: #A8AEBF;   
}
input::placeholder {
    color: #475069;   
  }


h1 {
    font-style: normal;
    font-size: 70px;
    font-weight: 600;
    
}

h4 {
    transform: translate(0,-80px);
    color: #A8AEBF;
}


h3 {
    color: #A8AEBF;
    font-size: 35px;
}