
<section class="card-container poppins">
    <div class="card">
      <img src="../assets/cards-image/img1.png" class="card-img" alt="card-image">
      <p class="title">Black Widow</p>
      <div class="rating">&#9734; 6.8</div>
    </div>
    <div class="card">
      <img src="../assets/cards-image/img2.png" class="card-img" alt="card-image">
      <p class="title">Shang Chi</p>
      <div class="rating">&#9734; 7.9</div>
    </div>
    <div class="card">
      <img src="../assets/cards-image/img3.png" class="card-img" alt="card-image">
      <p class="title">Loki</p>
      <div class="rating">&#9734; 8.4</div>
    </div>
    <div class="card">
      <img src="../assets/cards-image/img4.png" class="card-img" alt="card-image">
      <p class="title">How I Met Your Mother</p>
      <div class="rating">&#9734; 8.3</div>
    </div>
    </section>