/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: poppins;
    src: url(assets/fonts/Poppins-Regular.ttf) format("opentype");
  }

.poppins {
    font-family: poppins;
}

body {
    height: 100vh;
    min-height: 800px;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(
        to right,
        #243b55,
        #141e30,
    );
    color: #ebeef5;
}